<div class="p-5 vh-100 hero-main">

  <div class="row">
    <div class="container shadow-lg px-4 py-3 col-9 rounded-4 bg-light">
      <h1 class="pb-3" style="font-size: 35px" >Kupovina usluga</h1>
      <div>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <div class="w-75">
              <mat-card class="text-center" style="background:lightgray;color: black">
                <h2 class="pb-3">Kodifikacija zakona</h2>
                <div class="pb-3">
                  <button type="btn" class="btn btn-success">Mesecna pretplata: 400e</button>
                </div>
                <div>
                  <button type="btn" class="btn btn-danger">Godisnja pretplata: 1000e</button>
                </div>
              </mat-card>
            </div>

          </mat-grid-tile>
          <mat-grid-tile>
            <div class="w-75">
              <mat-card class="text-center" style="background:lightgray;color: black">
                <h2 class="pb-3">Izdavanje zakona u stampanoj formi</h2>
                <div class="pb-3">
                  <button type="btn" class="btn btn-success">Mesecna pretplata: 400e</button>
                </div>
                <div>
                  <button type="btn" class="btn btn-danger">Godisnja pretplata: 1000e</button>
                </div>
              </mat-card>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="w-75">
              <mat-card class="text-center" style="background:lightgray;color: black">
                <h2 class="pb-3">Izdavanje zakona u elektronskoj formi</h2>
                <div class="pb-3">
                  <button type="btn" class="btn btn-success" (click)="goToLink('http://localhost:4200')">Mesecna pretplata: 400e</button>
                </div>
                <div>
                  <button type="btn" class="btn btn-danger" (click)="goToLink('http://localhost:4200')">Godisnja pretplata: 1000e</button>
                </div>
              </mat-card>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="w-75">
              <mat-card class="text-center" style="background:lightgray;color: black">
                <h2 class="pb-3">Izdavanje zakona na internet</h2>
                <div class="pb-3">
                  <button type="btn" class="btn btn-success" (click)="goToLink('http://localhost:4200')">Mesecna pretplata: 400e</button>
                </div>
                <div>
                  <button type="btn" class="btn btn-danger" (click)="goToLink('http://localhost:4200')">Godisnja pretplata: 1000e</button>
                </div>
              </mat-card>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>

